:root {
    --green: rgb(0, 219, 146);
    --black: rgb(34, 34, 34);
}

body {
    background-color: #171717;
}

.skills {
    text-align: right;
    color: white;
    border-radius: 5px;
    padding: 0.1px;
    height: 22px;
    border: 0.1px solid white;
}

.html {
    width: 68%;
    background-image: linear-gradient(to right, var(--black), var(--green));
}

.html:hover{
    background: #fff;
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    transition:background 1s;
    cursor:pointer;
}

.css {
    width: 62%;
    background-image: linear-gradient(to right, var(--black), var(--green));
}
.css:hover{
    background: #fff;
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    transition:background 1s;
    cursor:pointer;
}

.jquery {
    width: 59%;
    background-image: linear-gradient(to right, var(--black), var(--green));
}
.jquery:hover{
    background: #fff;
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    transition:background 1s;
    cursor:pointer;
}

.php {
    width: 74%;
    background-image: linear-gradient(to right, var(--black), var(--green));
}
.php:hover{
    background: #fff;
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    transition:background 1s;
    cursor:pointer;
}

.django {
    width: 70%;
    background-image: linear-gradient(to right, var(--black), var(--green));
}
.django:hover{
    background: #fff;
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    transition:background 1s;
    cursor:pointer;
}

.db {
    width: 74%;
    background-image: linear-gradient(to right, var(--black), var(--green));
}
.db:hover{
    background: #fff;
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    transition:background 1s;
    cursor:pointer;
}

p {
    font-size: 18px;
    color: rgb(138, 138, 138);
}

p b {
    color: rgb(255, 255, 255);
    font-weight: 500;
}

h6 {
    color: white;
    font-size: 14px;

}

.containers {
    width: 100%;
    /* Full width */
    background-color: rgb(190, 190, 190);
    /* Grey background */
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 10px;
    height: 22px;
}
